<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<%= render partial: 'comments/form' %>

<%= link_to "<< Back to Articles List", articles_path %>
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}
%>
<%= link_to "Edit", edit_article_path(@article) %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments  %>
